.container_geral{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.container_texto {
    width: 60%;
    text-align: center;
    line-height: 30px;
    margin:25px 0px 5px;
}
.subtitulo{  
    font-size: 1.7em;
    margin: 50px 0px 35px;
}
.paragrafo{
    font-size: 17px;
    letter-spacing: 2px;
}
.container_cards{
    display: flex;
    width: 79%;
    column-gap: 10px;
    height: 85vh;
    flex-wrap: wrap;
    padding: 25px 10px 0px;
    justify-content: center;
}

.card{
    width: 49%;
    height: 254px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow:0px 0px 5px 0px #00000063;
}
.card:hover{
    box-shadow:0px 0px 5px 2px #00000063;
}
.titulo_card{
    color: #020202;
    margin: 0px 0px 15px;
}
.paragrafo{
    margin: 18px 0px 0px;
    font-size: 18px;
}
.img_oculos{
    width: 60%;
    min-width: 45px;
    height: 100px;
}
.container_descricao_produtos{
    width: 52%;
    text-align: center;
    margin: 0px 0px 20px;
    font-size: large;
    padding: 30px 0px 0px;
}
.ul{
    line-height: 35px;
}