.container_global{
    width: 100vw;
    height: auto;
}
.banner{
    width: 100%;
    height: 94vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
.containerTitulo{
    width: 50%;
    max-width: 500px;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.div{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.paragrafo, .titulo{
    color: #fff;
}
.paragrafo{
    font-size: 1.5em;
    padding: 0px 0px 0px 10px;
}
.titulo{
    font-size: 3em;
    text-transform: uppercase;
}
@media(max-width:1025px) {
    
    .containerTitulo .div{
        background-color: #9d9d9d1f;
        border-radius: 11px;
        padding: 5px;
        margin-left: 15px;
    }
    .banner{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}
