/*container Pai*/
.container_global{
    display: flex;
    width: 100%;
    justify-content: center;
    justify-items: center;
    margin: 60px 0px 0px 0px;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
/* começa a parte dos textos do topo*/
.container_texto_quem_somos{
    width: 70%;
    margin: 0px 0px 25px;
}
.subtitulo_quem_somos{
    font-size: 1.7em;
    padding: 15px 0px;
    text-transform: uppercase;
}
.paragrafo_quem_somos{
    font-size: 17px;
    line-height: 25px;
    padding: 0px 0px 15px 0px;
}
/* Começa a parte das imagens*/
.container_limitar_tamanho_container_imagens{
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    justify-content: center;
}
/*Container dos textos e imagens do card*/
.container_textos, .container_imagens{
    display: flex;
    width: 50%;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(128 128 128 / 28%);
    border-radius: 5px;
}
/*Tiulo e subtitulo do card das imagens*/
.subtitulo{
    font-size: 2em;
    padding: 0px 0px 15px;
    text-transform: uppercase;
}
.paragrafo{
    font-size: medium;
}
/*imagens do cards */
.imagens{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
